In [2]:
from datetime import date
import os
import pandas as pd
import glob

In [21]:
today = str(date.today())
today

'2023-04-23'

In [25]:
today_dir = os.path.join("data","grow" ,today)
funds_dir = os.path.join(today_dir, "funds")

In [27]:
files = glob.glob(os.path.join(funds_dir, "*.csv"))

In [40]:
dfs = []
for file in files:
    dfs.append(pd.read_csv(file, index_col=None))

In [41]:
funds = pd.concat(dfs, ignore_index=True)

In [42]:
funds.to_csv(os.path.join(today_dir, "funds.csv"), index = None)

In [7]:
df = pd.read_csv("data/grow/2023-04-23/funds.csv")
df.head()

,Unnamed: 0,Name,Sector,Instrument,Assets
0,0,ICICI Bank Ltd.,Financial,Equity,8.7
1,1,Reliance Industries Ltd.,Energy,Equity,7.2
2,2,Tube Investments Of India Ltd.,Automobile,Equity,7.2
3,3,Housing Development Finance Corporation Ltd.,Financial,Equity,7.0
4,4,HDFC Bank Ltd.,Financial,Equity,6.1

In [12]:
total_assets = df.groupby("Name").aggregate(sum).reset_index()[["Name", "Assets"]]

/tmp/ipykernel_6096/2496030647.py:1: FutureWarning: The operation <built-in function sum> failed on a column. If any error is raised, this will raise an exception in a future version of pandas. Drop these columns to avoid this warning.
  total_assets = df.groupby("Name").aggregate(sum).reset_index()[["Name", "Assets"]]

In [16]:
total_assets = total_assets.sort_values("Assets", ascending=False)

In [22]:
total_assets.iloc[:10]["Name"].values.tolist()

['ICICI Bank Ltd.',
 'HDFC Bank Ltd.',
 'Infosys Ltd.',
 'Reliance Industries Ltd.',
 'State Bank of India',
 'Axis Bank Ltd.',
 'Larsen & Toubro Ltd.',
 'Housing Development Finance Corporation Ltd.',
 'Bharti Airtel Ltd.',
 'ITC Ltd.']

In [27]:
asset_popularity = df.groupby("Name").count().reset_index()[["Name", "Assets"]]

In [33]:
asset_popularity.sort_values(by="Assets", ascending=False)

                               Name  Assets
469                 ICICI Bank Ltd.     285
422                  HDFC Bank Ltd.     264
950             State Bank of India     249
514                    Infosys Ltd.     242
113                  Axis Bank Ltd.     237
..                              ...     ...
901    Sarda Energy & Minerals Ltd.       1
239  Container Corpn. Of India Ltd.       1
241              Control Print Ltd.       1
687         Minor International PCL       1
196     Capacite Infraprojects Ltd.       1

[1168 rows x 2 columns]

In [35]:
top_10 = asset_popularity.iloc[:10]["Name"].values.tolist()

In [36]:
top_10

['360 One Wam Ltd',
 '3M (USA)',
 '3M India Ltd.',
 'ABB India Ltd.',
 'ACC Ltd.',
 'AGI Greenpac Ltd.',
 'AGS Transact Technologies Ltd.',
 'AIA Engineering Ltd.',
 'AIA Group (Hongkong)',
 'AMETEK Inc']